:root {
    --bg-color: hsl(47, 88%, 63%);
    --main-color: hsl(0, 0%, 100%);
    --Gray500: hsl(0, 0%, 42%);
    --Gray950: hsl(0, 0%, 7%);
    --Font-Size: 1rem;
    --Font-800: 800;
    
}

body {
    background-color: var(--bg-color);
    min-height: 100svh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

main{
    font-family: "Figtree";
    border: solid;
    border-width: .1rem;
    background-color: var(--main-color);
    width: auto;
    height: auto;
    border-radius: 1rem;
    padding: 1rem;
    display: inline-block;
    margin-inline: auto;
    box-shadow: .5rem .5rem  rgba(0, 0, 0, 1);
}

.panel-img {
    cursor: pointer;
    border-radius: 1rem;
    display: block;
    margin-bottom: 1rem;
}

.learning-box {
    display: inline-block;
    padding: .5rem;
    background-color: var(--bg-color);
    border-radius: .5rem;
    width: 5rem;
    text-align: center;
    font-weight: var(--Font-800);
}

.subtext {
    width: 20rem;
}

.title {
    font-size: 1.5rem;
    font-weight: var(--Font-800);
}

.title:hover{
    cursor: pointer;
    color: var(--bg-color);
}

.title:active {
    opacity: 60%;
}


.subtext {
    color: var(--Gray500);
}

.creator {
    display: flex;
}
.creator > * {
    margin-right: 1rem;
}

.pfp {
    height: 2.5rem;
    cursor: pointer;
}

.pfp:active{
    opacity: 50%;
}

.name {
    font-weight: var(--Font-800);
}

.name:hover {
    color: var(--bg-color);
    cursor: pointer;
}